body {
  align-items: center;
  background-color: #ffffffea;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  background-color: #009879;
  transition: all 0.3s ease-in-out;
}

.btn-add button {
  padding: 0.6rem 1.2rem;
}

.btn-add button:hover {
  background-color: #027e65;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: 600px;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search-wrapper .btn-cari {
  margin-top: 0;
  flex-basis: 20%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-wrap {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  height: 50px;
}

.submit:active {
  background-color: #03569b;
}

/* display css costum */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr td .wrap {
  overflow: hidden;
  border-radius: 20px;
}
.styled-table tbody tr td img {
  border-radius: 20px;
  transition: all 0.3s;
}

.styled-table tbody tr td:hover img {
  transform: scale(1.2);
}

.styled-table tbody tr td a {
  font-weight: bold;
  color: #000;
  transition: all 0.2s;
}

.styled-table tbody tr td a:hover {
  color: #009879;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
